@font-face {
    font-family: Sea-Breez-Swash;
    src: url('/src/assets/fonts/Sea-Breez-Swash.ttf');
    font-weight: normal;
}

@font-face {
    font-family: Montserrat;
    src: url('/src/assets/fonts/Montserrat-Medium.ttf');
    font-weight: normal;
}

@font-face {
    font-family: Montserrat;
    src: url('/src/assets/fonts/Montserrat-Light.ttf');
    font-weight: 100;
}

html {
    overscroll-behavior: none;
}

body {
    overscroll-behavior: none;
    background-color: #171717;
    font-family: Montserrat, Arial, Helvetica, Arial, serif;
    padding: 0;
    margin: 0;

}

canvas {
    display: block;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
}

main {
    position: fixed;
    width: 100%;
    height: 100vh;
}

.scrollable {
    will-change: transform;
}

.container {
    max-width: 1262px;
    margin: 0 auto;
    padding: 0 16px;
}

.nav {
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: 30px;
    line-height: 37px;
    max-width: 466px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 111px;

    @media screen and (max-width: 770px) {
        font-size: 20px;
        margin-bottom: 180px;
    }

    a {
        color: #8A8A8A;
        text-decoration: none;

        &:hover {
            color: #fff;
        }
    }
}

.content {
    display: flex;
    justify-content: space-between;
    color: #fff;
    gap: 20px 20px;

    @media screen and (max-width: 770px) {
        flex-direction: column;
        gap: 40px 20px;
    }
}

.item__title {
    position: absolute;
    font-family: Sea-Breez-Swash, Arial, Helvetica, Arial, serif;
    font-weight: 400;
    line-height: 90%;
    letter-spacing: 0.08em;
    z-index: 3;
    width: 450px;
    z-index: 3;

    .item__title_subtitle{
        color: transparent;
        -webkit-text-stroke: 0.3px #fff;
    }
}

.bold{
    font-weight: bold;
}

.item__text {
    position: absolute;
    font-size: 12px;
    font-weight: 100;
    font-size: 30px;
    line-height: 37px;
    z-index: 3;

    @media screen and (max-width: 770px) {
        font-size: 16px;
        line-height: 24px;
    }
}


.first-block {
    position: relative;
    align-items: center;
    margin-bottom: 280px;
    @media screen and (max-width: 770px) {
        margin-bottom: 50px;
    }
   
    .item__text {
        bottom: -165px;
        left: 260px;
        width: 560px;

        @media screen and (max-width: 770px) {
            display: block;
            position: relative;
            left: auto;
            bottom: auto;
            max-width: 350px;
          
        }
    }

    .item__title {
        font-size: 67px;
        bottom: -210px;
        left: 135px;
        .item__title_subtitle{
            margin-top: 16px;
        }

        @media screen and (max-width: 770px) {
            left: 20px;
            top: -150px;
            font-size: 42px;
        }
    }
}

.second-block {
    position: relative;
    margin-bottom: 380px;
    @media screen and (max-width: 770px) {
        margin-bottom: 100px;
    }

    .item__text {
        bottom: -280px;
        left: 10px;
        width: 850px;

        @media screen and (max-width: 770px) {
            display: block;
            position: relative;
            left: auto;
            bottom: auto;
            max-width: 350px;
        }
    }

    .item__title {
        bottom: -385px;
        right: 50px;
        width: 300px;
        font-size: 114px;
        .item__title_subtitle{
            margin-top: 30px;
        }

        @media screen and (max-width: 770px) {
            left: auto;
            bottom: -145px;
            font-size: 60px;
            max-width: 350px;
            .item__title_subtitle{
                margin-top: 10px;
            }
        }
    }
}

.third-block {
    position: relative;
    align-items: center;
    margin-bottom: 285px;
    @media screen and (max-width: 770px) {
        margin-bottom: 50px;
    }
    .item__text {
        bottom: -183px;
        left: 90px;
        width: 650px;

        @media screen and (max-width: 770px) {
            display: block;
            position: relative;
            left: auto;
            bottom: auto;
            max-width: 350px;
        }
    }
}

.fourth-block {
    position: relative;
    align-items: flex-end;
    padding-bottom: 300px;
    @media screen and (max-width: 770px) {
        padding-bottom: 200px;
    }
    .item__text {
        bottom: -85px;
        left: 90px;
        width: 650px;

        @media screen and (max-width: 770px) {
            display: block;
            position: relative;
            left: auto;
            bottom: auto;
            max-width: 350px;
        }
    }

    .item__title {
        top: -140px;
        left: 95px;
        line-height: 72.5%;
        width: 520px;
        font-size: 128px;

        @media screen and (max-width: 770px) {
            top: -600px;
            font-size: 60px;
            max-width: 350px;
        }
    }
}

img {
    opacity: 0;
    height: auto;
    width: 100%;

    @media screen and (max-width: 770px) {
        max-width: 400px;
    }
}

.item {
    position: relative;
}


